@model List<Library.Models.LibraryModel.Lease>
@using Microsoft.AspNetCore.Identity
@using Library.Models

@{
    ViewData["Title"] = "Home";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Book</th>
            <th>Due Date</th>
            <th>User</th>
        </tr>
    </thead>
    <tbody>
   @foreach (Library.Models.LibraryModel.Lease lease in Model)
   {
       <tr>
           <td>@lease.Id</td>
           <td>@lease.Book.Title</td>
        <td>@lease.LeaseEndDate</td>
        <td>@lease.Email</td>
       </tr>
   }
    </tbody>
   </table>
}
else
{
        <h1>To get started:</h1>
        <h2><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></h2>
        <h2><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></h2>
        <h1>or browse our <a asp-area="" asp-controller="Home" asp-action="Catalog">Catalog</a>.</h1>
}